node_modules
.pnpm-store
.turbo

.DS_Store
Thumbs.db

.env
.env.local
.env.*.local
*.tsbuildinfo
package-lock.json
npm-shrinkwrap.json

dist
build
coverage

.next
.expo
.expo-shared
.vercel
.eas
apps/mobile/.expo
apps/mobile/.expo-shared
apps/mobile/.eas
apps/mobile/dist
apps/mobile/web-build
apps/admin/.next
apps/admin/.vercel

supabase/.temp
